body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 92%, rgba(0,100,121,1) 100%);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}



.probar {
  border-radius: 2em;
  margin-right: 2em;
  background-color: rgb(2,0,36);
  border-color:rgb(67, 45, 104);
}
.probar:hover{
  background-color: rgb(67, 45, 104);
  border-color: rgba(255, 255, 255, 0.244);
}



.btn-outline-dark{
  background-color: #000000;
  color: white;
  border-radius: 2em;
}
.btn-outline-dark:hover{
  transform: scale(1.05);
  transition: transform 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0.423);
  color: black;
}


.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.table-first{
  max-width: 400px;
  margin: auto;
}
header{
  margin-bottom: 8em;
}

table, tr,td,tbody,thead, th{
  background-color:rgb(2,0,36) !important;
}

.table-first{
  margin-bottom: 10em;
}

.card{
  max-width: 500px;
  margin: auto;
}

.canciones img{
  width: 100%;
  transition: transform 0.3s ease;
}

.canciones button{
  width: 80%;
}

.canciones button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.cancion div{
  max-width: 500px;
}

@media (min-width: 768px) {
  .titulo{
    font-size: 26px !important;
  }
}

.contenedorTitulo{
  height: 6em;
}

.botones{
  margin-top: 2em;
}

.table-last{
  margin-top: 10em;
}

